body{
    font-family: 'Poppins', sans-serif;
    background: #74ebd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
    color: #3DBC9C;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    background: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

li{
    cursor: pointer;
    list-style-type: none;
    font-size: 20px;
    margin: 5px;
}

input {
    height: 40px;
    position: relative;
    border: 2px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .14);
    background-color: AliceBlue;
    font-size: 14px;
}

#todoInput{
    margin-bottom: 25px;
}

.btn {
    border-radius: 50px; 
    color: white;
    background: linear-gradient(to right, #ACB6E5, #74ebd5);
    border: none;
    margin-left: 10px;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 50px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.deleteBtn {
   border-radius: 10px; 
   color: black;
   background: #75EAD5;
   border: none;
   margin-left: 10px;
   padding: 8px;
   cursor: pointer;

}

#addBtn {
    height: 50px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

}

hr {
    height: 1px;
    background-color: #ccc;
    border: none;
}

.showTodos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.showTodos div {
    width: 300px;
    margin: 20px;
}

.showTodos p {
    font-size: 20px;
    color: black;
    cursor: pointer;
}

.showTodos .trash {
    margin-left: 10px;
}

.showTodos .trash:hover {
    color: red;
}

.hideEl{
    visibility: hidden;
}

.showEl{
    visibility: visible;
}
